<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
    <div class="footer-col-1 footer-col">
      <p>© 2016–2016 by Dong Zhou
      </p>
    </div>
    <div class="footer-col-2 footer-col">
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}
    </div>
    <div class="footer-col-2 footer-col">
      <p align='right' class="text-right menu-icon">
        <a href="#topbar">&#x25B2;</a>
      </p>
    </div>
    </div>
  </div>

</footer>
